* {
  margin:0;
  padding:0;
  border:0;
}


body {
  position:relative;
  background:#fff;
  font-family:Arial,Helevetica,Geneva,"Sans Serif";
  font-size:0.73em;
  margin:1em;
  line-height:1.2em;
}

.tx-terfe-pi1 dt {
  font-weight:bold;
  color:#030;
}


.tx-terfe-pi1 .hidden {
  display:block;
  width:1px;
  height:1px;
  overflow:hidden;  
}



.tx-terfe-pi1 .extensions {
  position:relative;
  display:block;
  list-style-type:none;  
}

.extensions li {
  position:relative;
  display:block;
  margin-bottom:1em;
}


.tx-terfe-pi1 .ext-header {
  position:relative;
  display:block;
  padding:0.2em 0.5em;
  background:#ffd5a6;
}


.tx-terfe-pi1 .ext-header dt {
  position:absolute;
  top:-100px;
  left:0;
  visibility:hidden;	
}


.tx-terfe-pi1 .ext-header dd {
  position:relative;
  display:inline;
  vertical-align:bottom;
}


.tx-terfe-pi1 .ext-header dd.ext-name {
  position:relative;
  font-weight:bold;
  color:#be0027;
}


.tx-terfe-pi1 .ext-header dd.state {
  position:absolute;
  right:0;
  top:0;
  display:block;
  width:109px;
  height:21px;
}


.tx-terfe-pi1 .ext-header dd.state span {
  position:relative;
  display:block;
  width:1px;
  height:1px;
  overflow:hidden;
  line-height:30px;
}


.tx-terfe-pi1 .ext-header dd img {
  position:relative;
  vertical-align:bottom;
}


.tx-terfe-pi1 .ext-info {
  display:block;
  width:100%;
  background:#CADFC2;
}


.tx-terfe-pi1 .ext-info dd.left {
  position:relative;
  display:block;
  float:left;
  width:67%;
}


.tx-terfe-pi1 .ext-info dd.left dl {
  position:relative;
  float:left;
  width:49.99%;
  min-width:50%;
  background:#fff;
}


.tx-terfe-pi1 .ext-info dd.right {
  position:relative;
  display:block;
  float:right;
  width:33%;
}


.tx-terfe-pi1 .ext-info dd dl {
  display:block;
  border-top:1px solid #fff;
}


.tx-terfe-pi1 .ext-info dd.bottom {
  display:block;
  width:100%;
  clear:both;
}


.tx-terfe-pi1 .ext-info dd dl dt, 
.tx-terfe-pi1 .ext-info dd dl dd {
  display:block;
  line-height:1.2em;
  padding:0.2em 0.5em;
}


.tx-terfe-pi1 .ext-info dd dl dt {
  background:#ACCD9F;
}


.tx-terfe-pi1 .ext-info dd dl dd {
  background:#CADFC2;
}


.tx-terfe-pi1 .ext-info dd.left dl dt {
  white-space:nowrap;
  border-right:1px solid #fff;
}


.tx-terfe-pi1 .ext-info dd.left dl dd {
  white-space:nowrap;
  border-right:1px solid #fff;
}


.tx-terfe-pi1 .ext-info dd.right dl dt {
  position:relative;
  white-space:nowrap;
}


.tx-terfe-pi1 .ext-info dd.right dl dd.updated {
  position:relative;
  white-space:nowrap;
}


.tx-terfe-pi1 .ext-info dd.right dl.changelog dd {
  height:4.2em;
  overflow:auto;
}


.tx-terfe-pi1 .ext-info dd.bottom dl dd {
  height:3.6em;
  overflow:auto;
}

.tx-terfe-pi1 .ext-header img{
height: 16px;
width: 16px;
}

.tx-terfe-pi1 .deps dd{
min-height: 8em;
}

.tx-terfe-pi1 .deps p {
white-space: normal;
}

.tx-terfe-pi1 .files {
clear:both;
margin-top:1em;
}

.tx-terfe-pi1 table.filelist {
border: 0;
border-collapse: collapse;
width: 100%;
background:#CADFC2;
text-align: center;
margin: 0.5em 0;
}

.tx-terfe-pi1 table.filelist th {
  background:#ACCD9F; 
}

.tx-terfe-pi1 table.filelist td.filename {
text-align: left;
}

.tx-terfe-pi1 table.ext-compactlist {
margin: 0.5em 0;
border-collapse: collapse;
border: 1px solid #ACCD9F;
}

.tx-terfe-pi1 table.ext-compactlist th {
background:#ACCD9F; 
padding: 0 0.5em;
text-align: left;
}

.tx-terfe-pi1 table.ext-compactlist td {
padding: 0 0.5em;
}

.tx-terfe-pi1 table.ext-compactlist .even {
background:#CADFC2;
}

.tx-terfe-pi1 pre {
margin: 1em 0;
border: 1px solid #CADFC2;
background-color: #f9f9f9;
padding: 0.5em;
overflow:auto;
width: 99%;
}

/* State icons */

.alpha_reviewed, .alpha_unreviewed {
background:url(/fileadmin/icons/state_alpha.gif) no-repeat left;
}

.experimental_unreviewed, .experimental_reviewed  {
background:url(/fileadmin/icons/state_experimental.gif) no-repeat left;
}

.beta_unreviewed {
background:url(/fileadmin/icons/state_beta.gif) no-repeat left;
}

.beta_reviewed {
background:url(/fileadmin/icons/state_beta_reviewed.gif) no-repeat left;
}

.stable_unreviewed {
background:url(/fileadmin/icons/state_stable.gif) no-repeat left;
}

.stable_reviewed {
background:url(/fileadmin/icons/state_stable_reviewed.gif) no-repeat left;
}


