<f:layout name="Default" />

<f:section name="main">
	<div class="b-tabs">
		<ul class="tabs lite-tabs">
			<li>
				<a href="#tx_terfe2_tab_extensions">Extensions</a>
			</li>
			<li>
				<a href="#tx_terfe2_tab_categories">Kategories</a>
			</li>
			<!--<li>
				<a href="#tx_terfe2_tab_tags">Tags</a>
			</li>-->
			<li>
				<a href="#tx_terfe2_tab_authors">Authors</a>
			</li>
		</ul>
		<div class="tab-panes">
			<div class="tab-content lite-tab-panes-black">
				<f:render partial="ExtensionList" arguments="{extensions: extensions}"/>
			</div>
			<div class="tab-content lite-tab-panes-black">
				<f:render partial="CategoryList" arguments="{categories: categories}"/>
			</div>
			<!--
			<div class="tab-content lite-tab-panes-black">
				<f:render partial="TagList" arguments="{tags: tags}"/>
			</div>
			-->
			<div class="tab-content lite-tab-panes-black">
				<f:render partial="AuthorList" arguments="{authors: authors}"/>
			</div>
		</div>
	</div>
</f:section>