<f:layout name="default" />
<f:section name="main">
	<h2><f:translate key="new_extension"/></h2>
	<f:form method="post" action="create" name="newExtension" object="{newExtension}">
		<label for="extKey"><f:translate key="tx_terfe2_domain_model_extension.ext_key" /></label><br />
		<f:form.textbox property="extKey" /><br />
		<label for="forgeLink"><f:translate key="tx_terfe2_domain_model_extension.forge_link" /></label><br />
		<f:form.textbox property="forgeLink" /><br />
		<label for="hudsonLink"><f:translate key="tx_terfe2_domain_model_extension.hudson_link" /></label><br />
		<f:form.textbox property="hudsonLink" /><br />
		<f:form.submit value="Create new" />
	</f:form>
	<f:link.action action="index"><f:translate key="back_to_list"/></f:link.action>
</f:section>