{namespace terfe2=Tx_TerFe2_ViewHelpers}

<f:layout name="Default"/>

<f:section name="main">
	<div id="ter-ext-single">

		<div class="ter-ext-singleheader">
			<div class="ter-ext-icon"><span><terfe2:extensionIcon version="{extension.lastVersion}" alt="{extension.lastVersion.title}" /></span></div>
			<div class="ter-ext-title">
				<h2>
					<f:translate key="single_extension" />
					{extension.lastVersion.title}
				</h2>
			</div>
			<div class="ter-ext-status">
				<f:if condition="{0 : extension.lastVersion.state} == {0 : 'stable'}">
					<span style="color:green"><terfe2:format function="strtoupper">{extension.lastVersion.state}</terfe2:format></span>
				</f:if>
				<f:if condition="{0 : extension.lastVersion.state} == {0 : 'beta'}">
					<span style="color:yellow"><terfe2:format function="strtoupper">{extension.lastVersion.state}</terfe2:format></span>
				</f:if>
				<f:if condition="{0 : extension.lastVersion.state} == {0 : 'alpha'}">
					<span style="color:red"><terfe2:format function="strtoupper">{extension.lastVersion.state}</terfe2:format></span>
				</f:if>
				<f:if condition="{0 : extension.lastVersion.state} == {0 : 'obsolete'}">
					<span style="color:black"><terfe2:format function="strtoupper">{extension.lastVersion.state}</terfe2:format></span>
				</f:if>
			</div>
			<div class="cl"></div>
		</div>

		<div class="ter-ext-singlecontent">
			<div class="ter-ext-singledescription"><p>{extension.lastVersion.description}</p>
				<div class="ter-ext-singledescription-footer cl">
					<div class="ter-ext-singleversion">
						<span class="ter-ext-singledetails-label"><f:translate key="version" />: </span><span class="ter-ext-singledetails-value">{extension.lastVersion.versionString}</span>
					</div>
					<div class="ter-ext-singleupdate">
						<span class=".ter-ext-singledetails-label"><f:translate key="last_uploaded" />: </span><span class="ter-ext-singledetails-value"><terfe2:dateTime format="{settings.dateFormat}">{extension.lastVersion.uploadDate}</terfe2:dateTime></span>
					</div>
					<div class="ter-ext-singledownloads">
						<span class=".ter-ext-singledetails-label"><f:translate key="downloads" />: </span><span class="ter-ext-singledetails-value">{extension.allDownloads}</span>
					</div>
				</div>
			</div>

			<div class="ter-ext-singledetails">
				<table class="ter-ext-singledetails-info">
					<tr>
						<td class="ter-ext-singledetails-label">
							<span>Extension Key<f:translate key="extension"/></span>
						</td>
						<td class="ter-ext-singledetails-value">{extension.extKey}</td>
					</tr>
					<tr>
						<td class="ter-ext-singledetails-label">
							<span><f:translate key="author"/></span>
						</td>
						<td class="ter-ext-singledetails-value"><f:link.action controller="Author" action="show" arguments="{author : extension.lastVersion.author}">{extension.lastVersion.author.name}</f:link.action></td>
					</tr>
					<tr>
						<td class="ter-ext-singledetails-label"><span><f:translate key="categories"/></span></td>
						<td class="ter-ext-singledetails-value"><f:render partial="InlineCategoryList" arguments="{categories: extension.categories}"/></td>
					</tr>
					<tr>
						<td class="ter-ext-singledetails-label"><span><f:translate key="relations"/></span></td>
						<td class="ter-ext-singledetails-value"><f:render partial="InlineRelationList" arguments="{relations: extension.lastVersion.filteredSoftwareRelations}"/>
						</td>
					</tr>
					<tr>
						<td class="ter-ext-singledetails-label"><span><f:translate key="manual"/></span></td>
						<td class="ter-ext-singledetails-value"><terfe2:documentationLink>{extension.lastVersion}</terfe2:documentationLink></td>
					</tr>
					<tr>
						<td class="ter-ext-singledetails-label"><span><f:translate key="downloads_by_version"/></span></td>
						<td class="ter-ext-singledetails-value">
							<terfe2:chart object="{extension}" method="downloadsByVersion" height="120" width="200" pointCount="10" renderOnLoad="1"/>
						</td>
					</tr>
				</table>
			</div>
			<div class="cl"></div>
		</div>
		<!-- <div class="ter-toggle"><span class="i-video i-arr-up-or"></span><span>Collapse Version</span></div> -->
		<div class="ter-ext-list-row-details ter-toggle"><span><f:translate key="expand_details" /></span>
			<hr/>
		</div>
		<div class="ter-ext-single-versionhistory">
			<f:render partial="ExtensionUploadHistoryList" arguments="{extension: extension}" />
		</div>

		<div class="ter-ext-singlelinks cl">
			<div class="ter-ext-singleback">
				<f:link.action controller="Extension" action="index" class="bu dark-grey"><f:translate key="back_to_extension_list" /></f:link.action>
			</div>
			<div class="ter-ext-singledownloadzip">
				<f:link.action controller="Extension" action="download" arguments="{extension : extension, version : extension.lastVersion, format : 't3x'}"><span class="bu"><f:translate key="download_t3x"/></f:link.action></span>
			</div>
			<div class="ter-ext-singledownloadt3x">
				<f:if condition="{extension.lastVersion.mediaCreated}">
					<f:link.action controller="Extension" action="download" arguments="{extension : extension, version : extension.lastVersion, format : 'zip'}"><span class="bu"><f:translate key="download_zip"/></span></f:link.action>
				</f:if>
			</div>
		</div>

	</div>
</f:section>