{namespace terfe2=Tx_TerFe2_ViewHelpers}

<div class="ter-ext-single-info ter-ext-info" xmlns:f="http://www.w3.org/1999/html">
	<table>
		<tr class="ter-ext-single-info-key">
			<th><f:translate key="add_to_favorites"/></th>
			<td>
				<f:if condition="{extension."
			</td>
		</tr>
		<tr class="ter-ext-single-info-key">
			<th><f:translate key="extensionKey"/></th>
			<td><strong>{extension.extKey}</strong></td>
		</tr>
		<tr>
			<th><f:translate key="version"/></th>
			<td>{extension.lastVersion.versionString} <span class="ter-ext-state ter-ext-state-{extension.lastVersion.state}">{extension.lastVersion.state}</span></td>
		</tr>
		<tr>
			<th><f:translate key="first_upload"/></th>
			<td><terfe2:dateTime format="{settings.dateFormat}">{extension.crdate}</terfe2:dateTime></td>
		</tr>
		<tr>
			<th><f:translate key="last_uploaded"/></th>
			<td><terfe2:dateTime format="{settings.dateFormat}">{extension.lastVersion.uploadDate}</terfe2:dateTime></td>
		</tr>
		<tr>
			<th><f:translate key="downloads"/></th>
			<td><f:format.number decimals="0" thousandsSeparator="," decimalSeparator=".">{extension.downloads}</f:format.number></td>
		</tr>
		<tr>
			<th><f:translate key="author"/></th>
			<td>{extension.lastVersion.author.name}</td>
		</tr>
		<f:security.ifHasRole role="{settings.reviewerGroupUid}">
			<tr>
				<th>Owner:</th>
				<td> Name: {owner.name}
					<br />Email: {owner.email}
					<br />Username: {owner.username}
				</td>
			</tr>
		</f:security.ifHasRole>
		<tr>
			<th><f:translate key="category"/></th>
			<td><f:translate key="category_{extension.lastVersion.emCategory}" /></td>
		</tr>
		<tr class="ter-ext-single-info-relations">
			<th><f:translate key="dependencies"/></th>
			<td><f:render partial="InlineRelationList" arguments="{relations: extension.lastVersion.filteredSoftwareRelations, relationType: 'depends'}"/></td>
		</tr>
		<tr class="ter-ext-single-info-relations">
			<th><f:translate key="conflicts"/>
			</th>
			<td>
				<f:render partial="InlineRelationList" arguments="{relations: extension.lastVersion.filteredSoftwareRelations, relationType: 'conflicts'}"/>
			</td>
		</tr>
		<tr class="ter-ext-single-info-manual">
			<th><f:translate key="manual"/></th>
			<td>
				<terfe2:documentationLink version="{extension.lastVersion}"></terfe2:documentationLink>
				<br />
				<terfe2:documentationLink version="{extension.lastVersion}" format="sxw"></terfe2:documentationLink>
			</td>
		</tr>
		<f:if condition="{flattr}">
			<tr class="ter-ext-single-flattr">
				<th><f:translate key="donate" /></th>
				<td>
					<terfe2:flattr flattrData="{flattr}" />
				</td>
			</tr>
		</f:if>
	</table>
</div>
