{namespace terfe2=Tx_TerFe2_ViewHelpers}
{namespace p=Tx_Paginate_ViewHelpers}

<f:if condition="{extensions}">
	<f:then>
		<!-- templateFilePath="EXT:t3org_template/html/plugin/paginate/Templates/ViewHelpers/Widget/Paginate/Index.html" -->
		<p:widget.paginate objects="{extensions}" as="paginateExtensions" configuration="{margin: 2, itemsPerPage: settings.listCount, insertAbove: 0, insertBelow: 1}">
			<f:for each="{paginateExtensions}" as="extension">
				<div class="ter-ext-list-row ter-toggle-from-here cl">

					<!-- Headline -->
					<div class="ter-ext-list-row-head">
						<terfe2:extensionIcon version="{extension.lastVersion}" alt="{extension.lastVersion.title}" class="ter-ext-icon" />
						<f:link.action controller="Extension" action="show" arguments="{extension : extension}" class="ter-toggle">{extension.lastVersion.title}</f:link.action>
						<span class="ter-ext-state ter-ext-state-{extension.lastVersion.state}">{extension.lastVersion.state}</span>
					</div>

					<!-- Content area -->
					<div class="ter-ext-list-row-regular cl">

						<!-- Description -->
						<div class="ter-ext-list-row-description">
							<p><terfe2:crop length="{settings.descriptionLength}">{extension.lastVersion.description}</terfe2:crop></p>

							<div class="ter-toggle-show">
								<!-- Comments / changelog -->
								<f:if condition="{extension.lastVersion.uploadComment}">
								<div class="ter-ext-list-row-lastUploadComment">
									<b><f:translate key="last_upload_comment"/></b>
									<p>{extension.lastVersion.uploadComment}</p>
								</div>
								</f:if>

								<p><f:link.action class="bu bu-mini" action="show" arguments="{extension: extension}"><f:translate key="link.extension_details" /></f:link.action></p>
							</div>
						</div>

						<!-- General information -->
						<div class="ter-ext-list-row-info ter-ext-info">
							<table>
								<tr>
									<th><f:translate key="extensionKey"/></th>
									<td>{extension.extKey}</td>
								</tr>
								<tr>
									<th><f:translate key="author"/></th>
									<td><f:link.action controller="Author" action="show" arguments="{author : extension.lastVersion.author}">{extension.lastVersion.author.name}</f:link.action></td>
								</tr>
								<tr>
									<th><f:translate key="category"/></th>
									<td><f:render partial="InlineCategoryList" arguments="{categories: extension.categories}"/></td>
								</tr>
								<!-- <tr>
									<th><f:translate key="votes"/></th>
									<td><span class="ter-ext-list-row-plus">+&nbsp;{extension.votes.positive}</span>&nbsp;&nbsp;|&nbsp;&nbsp;<span class="ter-ext-list-row-minus">-&nbsp;{extension.votes.negative}</span></td>
								</tr> -->
								<!-- Additional information -->
								<tr class="ter-toggle-show">
									<th><f:translate key="relations"/></th>
									<td><f:render partial="InlineRelationList" arguments="{relations: extension.lastVersion.filteredSoftwareRelations}"/></td>
								</tr>
								<!-- <tr>
									<th><f:translate key="reverse_relations"/></th>
									<td>TODO: Related to this</td>
								</tr> -->
								<tr class="ter-toggle-show">
									<th><f:translate key="manual"/></th>
									<td><terfe2:documentationLink>{extension.lastVersion}</terfe2:documentationLink></td>
								</tr>
								<!-- <tr>
									<th><f:translate key="tags"/></th>
									<td><f:render partial="InlineTagList" arguments="{tags: extension.tags}"/></td>
								</tr> -->
								<tr class="ter-toggle-show">
									<th><f:translate key="downloads_by_version"/></th>
									<td><terfe2:chart object="{extension}" method="downloadsByVersion" height="100" width="170" pointCount="10" renderOnLoad="0" /></td>
								</tr>
							</table>
						</div>

					</div>
					<div class="ter-toggle-show">
						<!-- Images and other media -->
						<div class="ter-ext-list-row-images">
							<f:if condition="{extension.lastVersion.media}">
								<f:for each="{extension.lastVersion.media}" as="media">
									<!-- display only images in the list view -->
									<f:if condition="{media.type} == 0">
										<!-- add shadowbox effect to images -->
										<a href="{settings.mediaRootPath}{extension.extKey}/{media.source}" rel="shadowbox[{extension.extKey}]">
											<f:image src="{settings.mediaRootPath}{extension.extKey}/{media.source}" width="150" maxHeight="120" alt="{media.title}" />
										</a>
									</f:if>
								</f:for>
							</f:if>
						</div>
					</div>

					<div class="ter-toggle-showMore ter-toggle ter-toggle-hide">
						<span><f:translate key="expand_details"/></span>
						<hr />
					</div>
					<div class="ter-toggle-showLess ter-toggle ter-toggle-show">
						<span><f:translate key="collapse_details"/></span>
						<hr />
					</div>

					<div class="ter-ext-list-row-meta ter-ext-meta">
						<f:translate key="version"/>: <b>{extension.lastVersion.versionString}</b>
						<f:translate key="last_updated"/>: <b><terfe2:dateTime format="{settings.dateFormat}"> {extension.lastVersion.uploadDate}</terfe2:dateTime></b>
						<f:translate key="downloads"/>: <b>{extension.allDownloads}</b>
					</div>

					<div class="ter-ext-list-row-buttons">
						<span class="bu bu-mini"><f:link.action controller="Extension" action="download" arguments="{extension : extension, version : extension.lastVersion, format : 't3x'}"><f:translate key="download_t3x"/></f:link.action></span>
						<f:if condition="{extension.lastVersion.mediaCreated}">
							<span class="bu bu-mini"><f:link.action controller="Extension" action="download" arguments="{extension : extension, version : extension.lastVersion, format : 'zip'}"><f:translate key="download_zip"/></f:link.action></span>
						</f:if>
					</div>

				</div>
			</f:for>
		</p:widget.paginate>
	</f:then>
	<f:else>
		<f:translate key="msg.no_entries_found" />
	</f:else>
</f:if>