{namespace terfe2=Tx_TerFe2_ViewHelpers}

<table>
	<f:for each="{versionHistory}" as="version">
		<f:if condition="{version.reviewState} > -1">
			<f:then>
                <tr
                    <f:if condition="{version} == {version.extension.lastVersion}">class="latest-version-row"</f:if>
                >
					<td class="col1">
						<strong>{version.versionString}</strong><br /><small><f:format.date format="F d, Y">{version.uploadDate}</f:format.date></small>
					</td>
					<td class="col2">{version.uploadComment}</td>
					<td class="col3">
						<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : version.versionString, format : 't3x'}" title="{f:translate(key:'filesize')}: {version.t3xFileSize -> terfe2:filesize()}" class="ter-download-icon ter-download-icon-t3x"><f:translate key="download_t3x"/></f:link.action>
						<f:if condition="{version.hasZipFile}">
							<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : version.versionString, format : 'zip'}" title="{f:translate(key:'filesize')}: {version.zipFileSize -> terfe2:filesize()}" class="ter-download-icon ter-download-icon-zip"><f:translate key="download_zip"/></f:link.action>
						</f:if>
					</td>
				</tr>
			</f:then>
			<f:else>
				<f:security.ifHasRole role="{settings.reviewerGroupUid}">
					<tr>
						<td class="col1">
							<strong>{version.versionString}</strong><br /><small><f:format.date format="F d, Y">{version.uploadDate}</f:format.date></small>
						</td>
						<td class="col2">{version.uploadComment}</td>
						<td class="col3">
							<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : version.versionString, format : 't3x'}" class="ter-download-icon ter-download-icon-t3x" title="{f:translate(key:'filesize')}: {version.t3xFileSize -> terfe2:filesize()}"><f:translate key="download_t3x"/></f:link.action>
							<f:if condition="{version.hasZipFile}">
								<f:link.action controller="Extension" action="download" arguments="{extension : extension, versionString : version.versionString, format : 'zip'}" class="ter-download-icon ter-download-icon-zip" title="{f:translate(key:'filesize')}: {version.zipFileSize -> terfe2:filesize()}"><f:translate key="download_zip"/></f:link.action>
							</f:if>
						</td>
					</tr>
				</f:security.ifHasRole>
			</f:else>
			</f:if>
	</f:for>
</table>