<f:layout name="Default" />

<f:section name="main">

	<h2><f:translate key="register-extension-key" /></h2>

	<hr />

	<!-- check if a frontend user is logged in -->
	<f:if condition="{loggedIn}">
		<f:then>

			<f:link.action action="manage">Manage your extension keys</f:link.action>

			<hr />

			<f:form action="create" controller="Registerkey" method="post">
				<f:form.hidden name="userName" value="{userName}"/>

				<div class="register-wrapper">

					<div class="registerkey-label">
						<label><f:translate key="extensionKey" /></label>
						<p class="registerkey-help">
							TODO: Some text here!!!
						</p>
					</div>

					<div class="register-input b-form-inputs">
						<f:form.textfield name="extensionKey" value="" />
					</div>
				</div>

				<hr style="clear:both;" />

				<div class="register-wrapper">

					<div class="registerkey-label">
						<label><f:translate key="category" /></label>
					</div>

					<div class="register-input">
						<div class="category-container">
							<f:for each="{categories}" as="category">
								<div class="category">
									<f:form.checkbox name="categories[{category}]" value="{category}" /> <label>{category.title}</label>
								</div>
							</f:for>
						</div>
					</div>
				</div>

				<f:form.submit class="bu bu-mini" value="{f:translate(key: 'save')}" />
			</f:form>

		</f:then>
		<f:else>
			Please log in to manage your extension or to register a new extension key.
		</f:else>
	</f:if>	<br />

</f:section>