/**
 * Plugin styles
 */
div.tx_terfe2 {

}

div.extension-row {
	border: 1px solid #C8C8C8;
	padding: 16px 15px 16px 15px;
	margin-bottom: 30px;
}

div.extension-head {
	border: 0;
	margin: 0;
	padding: 0;
	border-bottom: 1px solid #D1D1D1;
}

div.extension-head h4 {
	margin-top: 0;
}

div.extension-head a {

}

span.extension-icon {

}

span.extension-date {
	float: right;
	font-size: 11px;
	color: #555555;
}

div.extension-description {
	margin-bottom: 7px;
	overflow: auto;
	width: 63%;
	float: left;
	padding: 6px 0 0 0;
	margin: 0 18px 0 0;
}

div.extension-buttons {
	padding-top: 12px;
}

span.extension-button {
	height: 19px;
	line-height: 20px;
	padding: 0 8px;
	color: white;
	font-size: 11px;
	background: url(../Images/button.png) left top no-repeat;
	cursor: pointer;
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #E87C0C;
}

span.extension-button a {
	text-decoration: none;
	border-bottom: none;
	color: #ffffff;
}

span.extension-button-right {
	float: right;
	margin-left: 12px;
}

div.extension-info {
	width: 33%;
	float: left;
	font-size: 11px;
}

div.extension-info a {

}

div.extension-info table {
	margin: 0;
}

div.extension-info td {
	border: none;
	padding: 6px 0 5px 0;
}

div.extension-info tr {
	border-top: 1px solid #D1D1D1;
}

div.extension-regular div.extension-info tr:first-child {
	border: none;
}

td.extension-label {
	width: 60px;
}

br.tx_terfe2-clear {
	height: 0;
	line-height: 0;
	padding: 0;
	margin: 0;
	clear: both;
}

span.extension-plus {
	color: #009C21;
}

span.extension-minus {
	color: #EE1B00;
}


/**
 * jqPlot styles
 */
div.jqplot-highlighter-tooltip {
	background: #ffffff;
	color: #F58006;
	padding: 0 3px;
	font-size: 11px;
	border: 1px solid #9E9E9E;
	font-weight: bold;
	-webkit-box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
	-moz-box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
	box-shadow: 1px 1px 3px rgba(120,120,120,0.75);
}

div.tx_terfe2 div.tab-content {
	border: none;
	padding: 6px;
}

div.tx_terfe2 div.extension-images {
	margin-bottom: 20px;
}

div.tx_terfe2 div.extension-images img {
	padding: 1px;
	margin: 0 9px 0 0;
	box-shadow: 0 2px 5px rgba(128, 128, 128, 0.5);
	border: 1px solid #CCCCCC;
}

div.tx_terfe2 div.tab-content {
	border: none;
}

/**
 * Registerkeys
 */

table.manage-keys .tr-even td {
	background: none repeat scroll 0 0 #F3F3F3;
}

table.manage-keys td.no-borders {
	border-right: 0;
	border-left: 0;
	width:40px;
}
table.manage-keys td.no-border-left {
	border-left: 0;
	width:40px;
}

table.manage-keys td div.b-form-inputs {
	margin: 0;
}

table.manage-keys td div.b-form-inputs input.manage-keys-input {
	float: left;
	width: 130px;
}
table.manage-keys td div.b-form-inputs input.manage-keys-submit {
	margin-left: 5px;
	height: 22px;
}

table.manage-keys thead tr th.transfer-colum {
	width: 33%;
}

#page table.manage-keys a.delete-gray {
	background: url("../Images/button.png") no-repeat scroll 0 -70px transparent;
	color: #000;
	border: 1px solid #C0C0C0;
}